@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: Literata;
	src: url("/Literata/Literata-VariableFont_opsz,wght.ttf");
}

@layer base {
	html {
		@apply scroll-smooth;
	}
	body {
		@apply bg-warm-200;
	}
	:root {
		font-size:16px;
	}
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	* {
		font-family: Literata, ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	}
	p {
		@apply my-4;
	}/* 
	h1, h2, h3, h4, h5, h6 {
		@apply 
	} */
	h1 {
		@apply text-4xl font-bold;
	}
	h2 {
		@apply text-3xl;
	}
	h3 {
		@apply text-xl;
	}
	h4 {
		@apply text-lg;
	}
	p {
		@apply text-base;
	}
	hr {
		@apply border-2 border-warm-300 my-3;
	}
}
